<!-- Page Title
============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <h1>Login</h1>
  </div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="accordion accordion-lg divcenter nobottommargin clearfix" style="max-width: 550px;">
        <% flash.each do |key, value| %>
          <div class="style-msg <%= key %>">
            <div class="sb-msg"><%= value %></div>
          </div>
        <% end %>
        <div class="acctitle"><i class="acc-closed icon-lock3"></i><i class="acc-open icon-unlock"></i>Login to your Account</div>
        <div class="acc_content clearfix">
          <%= form_for(:user, url: login_path, class: 'nobottommargin') do |f| %>
            <div class="col_full">
              <label for="login-username">Username:</label>
              <%= f.text_field :username, class: 'form-control required', id: 'login-username', required: 'required' %>
            </div>

            <div class="col_full">
              <label for="login-password">Password:</label>
              <%= f.password_field :password, class: 'form-control required', id: 'login-password', required: 'required' %>
            </div>

            <div class="col_full nobottommargin">
              <button class="button button-3d button-black nomargin float-md-left" id="login-form-submit" name="login-form-submit" value="login">Login</button>
              <%= link_to 'Forgot Password?', forgot_password_url, :class => 'float-md-right' %>
            </div>
            <input type="hidden" name="redirect_to" value="<%= ERB::Util.url_encode(@redirect_to) %>" />
          <% end %>
        </div>

      </div>

    </div>

  </div>

</section><!-- #content end -->