<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10 bottommargin-sm">
    <div class="white-section custom-white-box nopadding">
      <div class="card active">
        <div class="card-header text-right">
        </div>
        <div class="card-body">
          <%= form_with model: (reply || reply = Reply.new), html:{class: 'nobottommargin'}, url: emailaccount_replies_path(@emailaccount) do |f| %>
            <% if reply.errors.any? %>
              <div class="style-msg2 errormsg">
                <div class="msgtitle">Opps! There's an error upon submitting.</div>
                <div class="sb-msg">
                  <ul>
                    <% reply.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            <% end %>
            <div class="form-group">
              <label>Keywords</label>
              <%= f.text_field :keywords, class: 'form-control' %>
            </div>
            <div class="form-group">
              <label>Body</label>
              <div>
                <%= f.text_area :body, class: 'form-control' %>
              </div>
            </div>
            <div class="card-footer">
              <%= f.submit 'Save', :class => 'button button-large nomargin submit_btn' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>