<tr>
  <td><%= reply.keywords %></td>
  <td><%= reply.body %></td>
  <td><%= reply.negative_keywords %></td>
  <td><%= reply.catchcall %></td>
  <td><%= link_to 'Show', reply %></td>
  <td><%= link_to 'Edit', edit_reply_path(reply) %></td>
  <td><%= link_to 'Destroy', reply, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>