<div class="<%= dom_id(reply) %>" id="<%= dom_id(reply) %>">
  <div class="col-md-11 reply-box bottommargin-sm">
    <div class="white-section custom-white-box nopadding">
      <div class="card">
        <div class="card-body">
          <%= form_with model: (reply || reply = Reply.new), html:{class: 'nobottommargin reply_form'} do |f| %>
            <% if reply.errors.any? %>
              <div class="style-msg2 errormsg">
                <div class="msgtitle">Oops! There's an error upon submitting.</div>
                <div class="sb-msg">
                  <ul>
                    <% reply.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            <% end %>
            <div class="form-group readonly">
              <label>Reply to these keywords in your email</label>
              <%= f.text_field :keywords, class: 'form-control readonly keywords', readonly: 'readonly', data: {role: 'tagsinput'} %>
            </div>
            <div class="form-group">
              <label>Where should we look for the keywords?</label>
              <%= f.text_field :search, class: 'form-control readonly', readonly: 'readonly' %>
            </div>
            <div class="form-group">
              <label>Write the content of the automated reply</label>
              <div class="template_top template_partial"><%= reply.emailaccount&.template_top %></div>
              <div>
                <%= f.text_area :body, class: 'form-control readonly', readonly: 'readonly' %>
              </div>
              <div class="template_bottom template_partial"><%= reply.emailaccount&.template_bottom %></div>
              <div class="text-right"><a href="<%= edit_emailaccount_url(@emailaccount) %>#template" class="button button-yellow button-light button-small" target="_blank">Edit Template</a></div>
            </div>
          <% end %>
          <div class="card-footer norightpadding">
            <%= link_to raw('<i class="icon-pencil"></i><span>Edit</span>'), edit_emailaccount_reply_path(@emailaccount, reply), class: 'edit_btn button button-rounded button-reveal button-large button-yellow button-light', remote: true %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>