<% content_for :javascript_includes do %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<% end %>

<section id="page-title" class="invoice nobg">

  <div class="container clearfix">
    <h1>Invoice: <%= @invoice.number %></h1>
    <div class="breadcrumb">
      <%= link_to 'Back to Invoices', invoices_path %>
    </div>
  </div>

</section>

<section id="content" class="invoice">
  <div class="content-wrap nopadding">
    <div class="section nomargin">
      <div class="container clearfix">
        <div class="row" id="<%= dom_id(@invoice) %>">
          <div class="col-md-1"></div>
          <div class="col-md-10 bottommargin-sm">
            <div class="text-right">
              <button class="print-invoice button button-small button-rounded button-leaf"><i class="icon-line2-printer"></i> Print</button>
            </div>
            <div class="white-section custom-white-box nopadding">
              <div class="card">
                <div class="card-body">
                  <div id="invoice_file" class="printable">
                    <div class="row invoice_header">
                      <div class="col-md-4">
                        <h2><img src="/images/logo/logo.png" alt="OwlReply"></h2>
                        <p>OwlReply LLC.</p>
                        <p>[Business Address]</p>
                      </div>
                      <div class="col-md-4"></div>
                      <div class="col-md-4">
                        <h1 class="title">Invoice</h1>
                      </div>
                    </div>
                    <div class="row invoice_info">
                      <div class="col-md-6 bill_to">
                        <label class="nobottommargin">Bill To:</label>
                        <div><%= current_user.email_address %></div>
                      </div>
                      <div class="col-md-6 text-right">
                        <div class="form-group row nobottommargin">
                          <label class="col-sm-8">Invoice Number: </label>
                          <div class="col-sm-4"><%= @invoice.number %></div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-8">Date: </label>
                          <div class="col-sm-4"><%= @invoice.date.strftime("%m/%d/%Y") %></div>
                        </div>
                      </div>
                    </div>
                    <div class="invoice_body">
                      <table class="table">
                        <thead>
                          <th>Description</th>
                          <th class="text-right" width="10%">Amount</th>
                        </thead>
                        <tbody>
                          <td><%= @invoice.subscription.name %> - Monthly Charge</td>
                          <td class="text-right">&#36; <%= "%.2f" % @invoice.amount %></td>
                        </tbody>
                        <!--<tfoot>
                          <td class="text-right"><strong>TOTAL: </strong></td>
                          <td class="text-right"><%#= "%.2f" % @invoice.amount %></td>
                        </tfoot>-->
                      </table>
                    </div>
                    <div class="row invoice_footer">
                      <div class="col-md-12">
                        <% if @invoice.amount_paid %>
                        <small class="font-italic">Paid <%= @invoice.amount_paid %> on <%= @invoice.date_paid %></small>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
                <% unless @invoice.paid? %>
                <div class="card-footer norightpadding">
<!--                  On click popup will show to confirm and show the last 4 digits on the popup-->
                  <% if current_user.no_paymentmethods? %>
                    <%= link_to "Add Payment Method", "/paymentmethods/new?invoice=#{@invoice.id}", remote: true, class: 'button button-3d button-large button-rounded button-green' %>
                  <% else %>
                    <button class="pay_btn button button-3d button-large button-rounded button-green">Pay Now</button>
                  <% end %>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
<!--        <div class="invoice invoice_<%#= @invoice.paid? ? "paid" : "unpaid" %>"><%#= link_to @invoice.date.strftime("%m/%d/%Y"), @invoice %> - <%#= @invoice.amount %> - <%#= @invoice.paid? ? "Paid" : "Unpaid" %></div>-->
      </div>
    </div>
  </div>
</section>

<% unless @invoice.paid? %>
  <% unless current_user.no_paymentmethods? %>
    <% content_for :modals_includes do %>
      <div class="modal fade" id="ConfirmPayModal" tabindex="-1" role="dialog" aria-labelledby="ConfirmPayModal" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title text-center" style="width: 100%">Confirm Payment</h4>
            </div>
            <div class="modal-body">
              <h5 class="text-center">Pay using <strong>**** **** **** <%= current_user.default_paymentmethod.card_number %></strong></h5>
              <div>
                <%= link_to "Confirm", invoice_path(@invoice), data: {method: :put}, class: 'button button-large tright' %>
                <button type="button" class="button button-large button-white button-light" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<% content_for :javascript_footer_includes do %>
  <script type="text/javascript">
    $(function(){
        $('.print-invoice').on('click', function(e) {
            e.preventDefault();

            var originalContent = $('body').html();
            var printArea = $('#invoice_file').parent('div').html();

            $('body').html(printArea);
            window.print();
            $('body').html(originalContent);
        });

        <% unless @invoice.paid? %>
          <% unless current_user.no_paymentmethods? %>
            $('.pay_btn').on('click', function (e) {
                e.preventDefault();
                $('#ConfirmPayModal').modal('show');
                return false;
            });
          <% end %>
        <% end %>
    });
  </script>
<% end %>