<section id="page-title" class="nobg">
  <div class="container clearfix">
    <h1>Invoice</h1>
    <%= link_to 'Back to Invoices', invoices_path %>
  </div>
</section><!-- #page-title end -->

<section id="content">
  <div class="content-wrap nopadding">
    <div class="section nomargin">
      <div class="container clearfix">
        <p id="notice"><%= notice %></p>

        <div class="invoice invoice_<%= invoice.paid? ? "paid" : "unpaid" %>"><%= link_to invoice.date.strftime("%m/%d/%Y"), invoice %> - <%= invoice.amount %> - <%= invoice.paid? ? "Paid" : "Unpaid" %></div>

        <% unless invoice.paid? %>
          <%= link_to "Pay Now", "" %>
        <% end %>

      </div>
    </div>
  </div>
</section>