<section id="page-title">

  <div class="container clearfix">
    <h1>All Accounts</h1>
  </div>

</section><!-- #page-title end -->

<section id="content" class="admin">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="table-responsive">
        <table id="accountsTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
          <tr>
            <th>Email Address</th>
            <th>Username</th>
            <th>Subscription</th>
            <th>Created At</th>
          </tr>
          </thead>
          <!--<tfoot>
          <tr>
            <th>Email Address</th>
            <th>Username</th>
            <th>Subscription</th>
          </tr>
          </tfoot>-->
          <tbody>
          <% subs = ['Entrepreneur', 'Entrepreneur', 'Small Business', 'Big Business'] %>
          <% @accounts.each do |account| %>
            <tr>
              <td><%= account.email_address %></td>
              <td><%= link_to account.username, "/admin/accounts/#{account.id}/emailaccounts" %></td>
              <td><%= subs[account.subscription_id.to_i] %></td>
              <td data-order="<%= account.created_at.to_i %>"><%= account.created_at.strftime("%b %d, %Y") %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<% content_for :javascript_includes do %>
  <link rel="stylesheet" href="/css/components/bs-datatable.css" type="text/css" />
  <script src="/js/components/bs-datatable.js"></script>
<% end %>

<% content_for :javascript_footer_includes do %>
<script>
    $(document).ready(function() {
        $('#accountsTable').dataTable({
            "order": [[ 3, "desc" ]]
        });
    });
</script>
<% end %>