<section id="page-title">

  <div class="container clearfix">
    <h1>Admin Dashboard</h1>
  </div>

</section><!-- #page-title end -->

<section id="content" class="dashboard">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="card-deck custom_cards mb-4">
        <div class="col_card card feature-box fbox-large fbox-border fbox-rounded fbox-light fbox-effect">
          <%= link_to 'admin/accounts' do  %>
          <div class="card-body">
            <div class="fbox-icon">
              <i class="icon-users i-alt"></i>
            </div>
            <h5 class="card-title">Accounts</h5>
            <span class="numval"><%= number_of_accounts %></span>
          </div>
          <% end %>
        </div>
        <div class="col_card card feature-box fbox-large fbox-border fbox-rounded fbox-light fbox-effect">
          <%= link_to 'admin/emailaccounts' do  %>
          <div class="card-body">
            <div class="fbox-icon">
              <i class="icon-mail-bulk i-alt"></i>
            </div>
            <h5 class="card-title">Email Accounts</h5>
            <span class="numval"><%= number_of_email_accounts %></span>
          </div>
          <% end %>
        </div>
        <div class="col_card card feature-box fbox-large fbox-border fbox-rounded fbox-light fbox-effect">
          <%= link_to 'admin/replies' do  %>
          <div class="card-body">
            <div class="fbox-icon">
              <i class="icon-email2 i-alt"></i>
            </div>
            <h5 class="card-title">Replies</h5>
            <span class="numval"><%= number_of_replies %></span>
          </div>
          <% end %>
        </div>
      </div>
      <div class="card-deck custom_cards mb-4">
        <div class="col_card card feature-box fbox-large fbox-border fbox-rounded fbox-light fbox-effect">
          <div class="card-body">
            <div class="fbox-icon">
              <i class="icon-firstdraft i-alt"></i>
            </div>
            <h5 class="card-title">Total Drafts Created</h5>
            <span class="numval"><%= total_drafts_created_lifetime %></span>
          </div>
        </div>
        <div class="col_card card feature-box fbox-large fbox-border fbox-rounded fbox-light fbox-effect">
          <div class="card-body">
            <div class="fbox-icon">
              <i class="icon-firstdraft i-alt"></i>
            </div>
            <h5 class="card-title">Drafts Created Today</h5>
            <span class="numval"><%= total_drafts_created_today %></span>
          </div>
        </div>
        <div class="col_card card feature-box fbox-large fbox-border fbox-rounded fbox-light fbox-effect">
          <div class="card-body">
            <div class="fbox-icon">
              <i class="icon-user-check i-alt"></i>
            </div>
            <h5 class="card-title">Signups Today</h5>
            <span class="numval"><%= total_signups_today %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>