<section id="page-title">

  <div class="container clearfix">
    <h1>Admin Dashboard</h1>
  </div>

</section><!-- #page-title end -->

<section id="content" class="dashboard">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="card-deck custom_cards mb-4">
        <div class="col_card card feature-box fbox-large fbox-border fbox-rounded fbox-light fbox-effect">
          <%= link_to 'admin/accounts', method: :get do  %>
          <div class="card-body">
            <div class="fbox-icon">
              <i class="icon-users i-alt"></i>
            </div>
            <h5 class="card-title">Accounts</h5>
            <span class="numval"><%= number_of_accounts %></span>
          </div>
          <% end %>
        </div>
        <div class="col_card card feature-box fbox-large fbox-border fbox-rounded fbox-light fbox-effect">
          <%= link_to 'admin/emailaccounts', method: :get do  %>
          <div class="card-body">
            <div class="fbox-icon">
              <i class="icon-mail-bulk i-alt"></i>
            </div>
            <h5 class="card-title">Email Accounts</h5>
            <span class="numval"><%= number_of_email_accounts %></span>
          </div>
          <% end %>
        </div>
        <div class="col_card card feature-box fbox-large fbox-border fbox-rounded fbox-light fbox-effect">
          <%= link_to 'admin/replies', method: :get do  %>
          <div class="card-body">
            <div class="fbox-icon">
              <i class="icon-email2 i-alt"></i>
            </div>
            <h5 class="card-title">Replies</h5>
            <span class="numval"><%= number_of_replies %></span>
          </div>
          <% end %>
        </div>
      </div>
      <div class="card-deck custom_cards mb-4">
        <div class="col_card card feature-box fbox-large fbox-border fbox-rounded fbox-light fbox-effect">
          <div class="card-body">
            <div class="fbox-icon">
              <i class="icon-firstdraft i-alt"></i>
            </div>
            <h5 class="card-title">Total Replies Created</h5>
            <span class="numval"><%= total_drafts_created_lifetime %></span>
          </div>
        </div>
        <div class="col_card card feature-box fbox-large fbox-border fbox-rounded fbox-light fbox-effect">
          <div class="card-body">
            <div class="fbox-icon">
              <i class="icon-firstdraft i-alt"></i>
            </div>
            <h5 class="card-title">Replies Made Today</h5>
            <span class="numval"><%= total_drafts_created_today %></span>
          </div>
        </div>
        <div class="col_card card feature-box fbox-large fbox-border fbox-rounded fbox-light fbox-effect">
          <div class="card-body">
            <div class="fbox-icon">
              <i class="icon-user-check i-alt"></i>
            </div>
            <h5 class="card-title">Signups Today</h5>
            <span class="numval"><%= total_signups_today %></span>
          </div>
        </div>
      </div>
      <div class="divider divider-center"><i class="icon-chart-bar"></i></div>
      <div>
        <h4>New users for the last 30 days</h4>
        <canvas id="usersStat"></canvas>
      </div>
    </div>
  </div>
</section>

<%
  users = users_per_day(30)
  labels = []
  data = []
  users.each do |date, count|
    labels.push(date.strftime("%m/%d/%Y"))
    data.push(count)
  end
%>

<% content_for :javascript_includes do %>
<link rel="stylesheet" href="/css/admin.css" type="text/css" />
<script src="/js/chart.js"></script>
<script src="/js/chart-utils.js"></script>
<% end %>


<% content_for :javascript_footer_includes do %>
<script>
    var ctx = document.getElementById('usersStat').getContext('2d');
    var color = Chart.helpers.color;
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: <%= raw labels.to_json %>,
            datasets: [{
                label: '# of users',
                fill: false,
                data: <%= raw data.to_json %>,
                backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                borderColor: window.chartColors.blue,
                borderWidth: 1,
                // lineTension: 0.1
            }],
        },
        options: {
            responsive: true,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
<% end %>