<section id="page-title">

  <div class="container clearfix">
    <h1>Admin Dashboard</h1>
  </div>

</section><!-- #page-title end -->

<section id="content" class="dashboard">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="card-deck custom_cards mb-4">
        <div class="col_card card feature-box fbox-large fbox-border fbox-rounded fbox-light fbox-effect">
          <%= link_to 'admin/accounts', method: :get do  %>
          <div class="card-body">
            <div class="fbox-icon">
              <i class="icon-users i-alt"></i>
            </div>
            <h5 class="card-title">Accounts</h5>
            <span class="numval"><%= number_of_accounts %></span>
          </div>
          <% end %>
        </div>
        <div class="col_card card feature-box fbox-large fbox-border fbox-rounded fbox-light fbox-effect">
          <%= link_to 'admin/emailaccounts', method: :get do  %>
          <div class="card-body">
            <div class="fbox-icon">
              <i class="icon-mail-bulk i-alt"></i>
            </div>
            <h5 class="card-title">Email Accounts</h5>
            <span class="numval"><%= number_of_email_accounts %></span>
          </div>
          <% end %>
        </div>
        <div class="col_card card feature-box fbox-large fbox-border fbox-rounded fbox-light fbox-effect">
          <%= link_to 'admin/replies', method: :get do  %>
          <div class="card-body">
            <div class="fbox-icon">
              <i class="icon-email2 i-alt"></i>
            </div>
            <h5 class="card-title">Replies</h5>
            <span class="numval"><%= number_of_replies %></span>
          </div>
          <% end %>
        </div>
      </div>
      <div class="card-deck custom_cards mb-4">
        <div class="col_card card feature-box fbox-large fbox-border fbox-rounded fbox-light fbox-effect">
          <div class="card-body">
            <div class="fbox-icon">
              <i class="icon-firstdraft i-alt"></i>
            </div>
            <h5 class="card-title">Total Replies Created</h5>
            <span class="numval"><%= total_drafts_created_lifetime %></span>
          </div>
        </div>
        <div class="col_card card feature-box fbox-large fbox-border fbox-rounded fbox-light fbox-effect">
          <div class="card-body">
            <div class="fbox-icon">
              <i class="icon-firstdraft i-alt"></i>
            </div>
            <h5 class="card-title">Replies Made Today</h5>
            <span class="numval"><%= total_drafts_created_today %></span>
          </div>
        </div>
        <div class="col_card card feature-box fbox-large fbox-border fbox-rounded fbox-light fbox-effect">
          <div class="card-body">
            <div class="fbox-icon">
              <i class="icon-user-check i-alt"></i>
            </div>
            <h5 class="card-title">Signups Today</h5>
            <span class="numval"><%= total_signups_today %></span>
          </div>
        </div>
      </div>
      <div class="card-deck custom_cards mb-4">
        <div class="col_card card feature-box fbox-large fbox-border fbox-rounded fbox-light fbox-effect">
          <div class="card-body">
            <div class="fbox-icon">
              <i class="icon-check-double i-alt"></i>
            </div>
            <h5 class="card-title">Last Checked</h5>
            <span class="numval"><%= time_ago_in_words(Time.at(REDIS.get("last_reply_checked_at").to_i)).humanize %> ago</span>
          </div>
        </div>
        <div class="col_card card feature-box fbox-large fbox-border fbox-rounded fbox-light fbox-effect">
          <div class="card-body">
            <div class="fbox-icon">
              <i class="icon-settings i-alt"></i>
            </div>
            <h5 class="card-title">Reply Maker Running</h5>
            <span class="numval"><%= reply_maker_process_size %></span>
          </div>
        </div>
      </div>
      <div class="divider divider-center"><i class="icon-chart-bar"></i></div>
      <div class="pb-5">
        <h4>New users for the last 30 days</h4>
        <canvas id="usersStat"></canvas>
      </div>
      <div class="pb-5">
        <h4>Users came from for the last 30 days</h4>
        <canvas id="referersStat"></canvas>
      </div>
      <div class="pb-5">
        <h4>New subscriptions for the last 30 days</h4>
        <canvas id="subscriptionsStat"></canvas>
      </div>
    </div>
  </div>
</section>

<%
  users = users_per_day(30)
  labels = []
  data = []
  users.each do |date, count|
    labels.push(date.strftime("%m/%d/%Y"))
    data.push(count)
  end

  subscriptions = users_subscribed(30)
  s_labels = []
  s_data = []
  subscriptions.each do |date, count|
    s_labels.push(date.strftime("%m/%d/%Y"))
    s_data.push(count)
  end

  referers = users_referer(30)
  r_labels = []
  r_data = []
  referers.each do |ref, count|
   r_labels.push(ref)
   r_data.push(count)
  end
%>

<% content_for :javascript_includes do %>
<link rel="stylesheet" href="/css/admin.css" type="text/css" />
<script src="/js/chart.js"></script>
<script src="/js/chart-utils.js"></script>
<% end %>


<% content_for :javascript_footer_includes do %>
<script>
    var chart_options = {
        responsive: true,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    };


    window.onload = function() {
        var usersStat = document.getElementById('usersStat').getContext('2d');
        new Chart(usersStat, {
            type: 'line',
            data: {
                labels: <%= raw labels.to_json %>,
                datasets: [{
                    label: '# of users',
                    fill: false,
                    data: <%= raw data.to_json %>,
                    backgroundColor: window.chartColors.blue,
                    borderColor: window.chartColors.blue,
                }],
            },
            options: chart_options
        });

        var referersStat = document.getElementById('referersStat').getContext('2d');
        new Chart(referersStat, {
            type: 'line',
            data: {
                labels: <%= raw r_labels.to_json %>,
                datasets: [{
                    label: '# of users',
                    fill: false,
                    data: <%= raw r_data.to_json %>,
                    backgroundColor: window.chartColors.blue,
                    borderColor: window.chartColors.blue,
                }],
            },
            options: chart_options
        });

        var subscriptionsStat = document.getElementById('subscriptionsStat').getContext('2d');
        new Chart(subscriptionsStat, {
            type: 'line',
            data: {
                labels: <%= raw s_labels.to_json %>,
                datasets: [{
                    label: '# of users',
                    fill: false,
                    data: <%= raw s_data.to_json %>,
                    backgroundColor: window.chartColors.blue,
                    borderColor: window.chartColors.blue,
                }],
            },
            options: chart_options
        });
    };

</script>
<% end %>