<section id="page-title" class="invoice nobg">

  <div class="container clearfix">
    <h1>Invoice: <%= @invoice.number %></h1>
    <div class="breadcrumb">
      <%= link_to 'Back to Late Invoices', admin_late_invoices_path %>
    </div>
  </div>

</section>

<section id="content" class="invoice">
  <div class="content-wrap nopadding">
    <div class="section nomargin">
      <div class="container clearfix">
        <div class="row" id="<%= dom_id(@invoice) %>">
          <div class="col-md-1"></div>
          <div class="col-md-10 bottommargin-sm">
            <div class="text-right">
              <button class="print-invoice button button-small button-rounded button-leaf"><i class="icon-line2-printer"></i> Print</button>
            </div>
            <div class="white-section custom-white-box nopadding">
              <div class="card">
                <div class="card-body">
                  <div id="invoice_file" class="printable">
                    <div class="row invoice_header">
                      <div class="col-md-4">
                        <h2><img src="/images/logo/logo.png" alt="OwlReply"></h2>
                        <p>OwlReply LLC.</p>
                        <p>[Business Address]</p>
                      </div>
                      <div class="col-md-4"></div>
                      <div class="col-md-4">
                        <h1 class="title">Invoice</h1>
                      </div>
                    </div>
                    <div class="row invoice_info">
                      <div class="col-md-6 bill_to">
                        <label class="nobottommargin">Bill To:</label>
                        <div><%= current_user.email_address %></div>
                      </div>
                      <div class="col-md-6 text-right">
                        <div class="form-group row nobottommargin">
                          <label class="col-sm-8">Invoice Number: </label>
                          <div class="col-sm-4"><%= @invoice.number %></div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-8">Date: </label>
                          <div class="col-sm-4"><%= @invoice.date.strftime("%m/%d/%Y") if @invoice.date %></div>
                        </div>
                      </div>
                    </div>
                    <div class="invoice_body">
                      <table class="table">
                        <thead>
                          <th>Description</th>
                          <th class="text-right" width="10%">Amount</th>
                        </thead>
                        <tbody>
                          <td><%= @invoice.subscription.name if @invoice.subscription %> - Monthly Charge</td>
                          <td class="text-right"><%= @invoice.amount_to_string %></td>
                        </tbody>
                        <!--<tfoot>
                          <td class="text-right"><strong>TOTAL: </strong></td>
                          <td class="text-right"><%#= "%.2f" % @invoice.amount %></td>
                        </tfoot>-->
                      </table>
                    </div>
                    <div class="row invoice_footer">
                      <div class="col-md-12">
                        <% if @invoice.amount_paid %>
                        <small class="font-italic">Paid <%= @invoice.amount_paid_to_string %> on <%= @invoice.date_paid %></small>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
