<!-- Page Title
============================================= -->
<section id="page-title" class="nobg">

  <div class="container clearfix">
    <h1>Edit My Account</h1>
  </div>

</section><!-- #page-title end -->

<section id="content">

  <div class="content-wrap nopadding">
    <div class="section nomargin">
      <div class="container clearfix">
        <div class="row">
          <div class="col-lg-1 col-sm-1"></div>
          <div class="col-lg-10 col-sm-10 bottommargin-sm">
            <div class="white-section custom-white-box">
              <h3 class="section-title nomargin">Details</h3>
              <div class="divider  divider-rounded divider-right notopmargin"><i class="icon-user1"></i></div>

              <% if @user.errors.any? %>
                <div class="style-msg2 errormsg">
                  <div class="msgtitle">Opps! There's an error upon submitting.</div>
                  <div class="sb-msg">
                    <ul>
                      <% for message in @user.errors.full_messages %>
                        <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              <% end %>

              <%= form_for @user do |f| %>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                  <%= f.text_field :username, class: 'form-control required', readonly: 'readonly' %>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <%= f.text_field :email_address, class: 'form-control', required: 'required' %>
                </div>
              </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">New Password</label>
                  <div class="col-sm-10">
                    <%= f.password_field :password, class: 'form-control' %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-10">
                    <button type="submit" class="button"> Save </button> <%= link_to "Cancel", :back, :class => 'button button-white' %>
                  </div>
                </div>

              <% end %>
            </div>
          </div>
          <div class="col-lg-1 col-sm-1"></div>
        </div>
      </div>
    </div>

  </div>

</section>
