<%= form_with(model: paymentmethod, local: true) do |form| %>
  <% if paymentmethod.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paymentmethod.errors.count, "error") %> prohibited this paymentmethod from being saved:</h2>

      <ul>
      <% paymentmethod.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :method %>
    <%= form.text_field :method %>
  </div>

  <div class="field">
    <%= form.label :card_name %>
    <%= form.text_field :card_name %>
  </div>

  <div class="field">
    <%= form.label :card_type %>
    <%= form.text_field :card_type %>
  </div>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.text_field :customer_id %>
  </div>

  <div class="field">
    <%= form.label :card_exp_date %>
    <%= form.date_select :card_exp_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
