<div class="bottommargin-sm" id="paymentmethod_index">
  <div class="list-group list-paymentmethod">
    <% @paymentmethods.each do |paymentmethod| %>
      <div class="list-group-item list-group-item-action flex-column align-items-start" id="<%= dom_id(paymentmethod) %>">
        <div class="d-flex w-100 justify-content-between">
          <h3 class="mb-0 cc-number">**** **** **** <%= paymentmethod.card_number.to_s[-4..-1].to_i %></h3>
          <div class="actions">
            <% if !paymentmethod.default %>
               <%= link_to raw('<i class="icon-check-square"></i><span>Set as Default </span>'), toggle_default_paymentmethod_path(paymentmethod), method: :put, data: { confirm: 'Are you sure to set this payment method as default?' }, class: 'button button-rounded button-leaf button-light button-mini nomargin', remote: true %>
               <%= link_to raw('<i class="icon-trash"></i><span>Delete</span>'), paymentmethod_url(paymentmethod), remote: true, method: :delete, data: {confirm: "Are you sure to delete this payment method?"}, class: 'button button-rounded button-red button-mini nomargin' %>
            <% end %>
          </div>
        </div>
          <div class="cc-type">
            <i class="icon icon-cc-<%= paymentmethod.card_brand %>"></i> <%= paymentmethod.card_brand&.gsub('-', ' ')&.titleize %>
          </div>
        <div class="d-flex w-100 justify-content-between">
          <small class="expiration">Expires in <%= paymentmethod.card_exp_month %>/<%= paymentmethod.card_exp_year %></small>
          <% if paymentmethod.default %>
            <small class="cc-default">Default</small>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>