<div class="section nomargin notoppadding" id="user_paymentmethod_list">
  <div class="container clearfix">
    <div class="row">
      <div class="col-lg-1 col-sm-1"></div>
      <div class="col-lg-10 col-sm-10 bottommargin-sm">
        <div class="white-section custom-white-box">
          <div class="d-flex w-100 justify-content-between">
            <h3 class="section-title nomargin">Payment Methods</h3>
            <%= link_to paymentmethods_url, :class => "edit-section" do %>
              <%= content_tag :i, "", :class => "icon-credit-cards" %> Manage
            <% end %>
          </div>
          <div class="divider  divider-rounded divider-right notopmargin"><i class="icon-credit-card"></i></div>
          <div class="bottommargin-sm">
            <div class="list-group list-paymentmethod">
              <% @paymentmethods.each do |paymentmethod| %>
              <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h4 class="mb-0 cc-number">**** **** **** <%= paymentmethod.card_number.to_s[-4..-1].to_i %></h4>
                  <% if paymentmethod.default %>
                  <small class="cc-default">Default</small>
                  <% end %>
                </div>
                <div class="cc-type">
                  <i class="icon icon-cc-<%= paymentmethod.card_brand %>"></i> <%= paymentmethod.card_brand&.gsub('-', ' ')&.titleize %>
                </div>
                <small class="expiration">Expires in <%= paymentmethod.card_exp_month %>/<%= paymentmethod.card_exp_year %></small>
              </div>
              <% end %>
            </div>
          </div>
          <div>
            <%= link_to paymentmethods_url, :class => "edit-section" do %>
              <%= content_tag :i, "", :class => "icon-credit-cards" %> Manage
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-lg-1 col-sm-1"></div>
    </div>
  </div>
</div>