<div class="popup block divcenter" style="background-color: #FFF; max-width: 500px;">
  <h3 class="popup-title">New Payment Method</h3>
  <div class="popup-form nobottomborder">
    <%= form_with model: (paymentmethod || paymentmethod = Paymentmethod.new), html:{class: 'nobottommargin'} do |form| %>
      <div class="form-group">
        <%= form.label :method %>
        <%= form.text_field :method, class: 'form-control' %>
      </div>

      <div class="form-group">
        <label for="card_type">Card Type</label>
        <%= form.select :card_brand, [['Visa', 'visa'], ['Mastercard', 'mastercard'], ['Diners', 'diners'], ['Discover', 'discover'], ['JBC', 'jcb'], ['Unionpay', 'unionpay']], class: 'form-control', id: 'card_type', required: 'required' %>
      </div>

      <div class="form-group">
        <label for="card_number">Card Number</label>
        <%= form.text_field :card_number, class: 'form-control', id: 'card_number', type: 'number', required: 'required' %>
      </div>

      <div class="form-group">

      </div>

      <div class="form-group">
        <label for="card_cvc">CVC</label>
        <%= form.text_field :card_cvc, class: 'form-control', id: 'card_type', type: 'number', min: 3, max: 3, required: 'required' %>
      </div>

      <div class="form-group">
        <%= form.submit 'Save', class: 'button button-large' %>
        <button class="button-cancel button button-white button-light button-small" type="reset">Cancel</button>
      </div>
    <% end %>
  </div>
</div>