<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @paymentmethod.user_id %>
</p>

<p>
  <strong>Method:</strong>
  <%= @paymentmethod.method %>
</p>

<p>
  <strong>Card name:</strong>
  <%= @paymentmethod.card_name %>
</p>

<p>
  <strong>Card type:</strong>
  <%= @paymentmethod.card_type %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @paymentmethod.customer_id %>
</p>

<p>
  <strong>Card exp date:</strong>
  <%= @paymentmethod.card_exp_date %>
</p>

<%= link_to 'Edit', edit_paymentmethod_path(@paymentmethod) %> |
<%= link_to 'Back', paymentmethods_path %>
