<% content_for :javascript_includes do %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<% end %>

<!-- Page Title
============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <h1>Pricing</h1>
    <span>Choose your plan and get started on providing amazing customer service.</span>
  </div>

</section><!-- #page-title end -->

<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="heading-block center">
        <span style="font-size: 22px">We support everyone from small-businesses to Enterprise.</span>
      </div>

      <div class="row pricing bottommargin clearfix">

        <div class="col-lg-4">

          <div class="pricing-box">
            <div class="pricing-title">
              <h3>Entrepreneur</h3>
            </div>
            <div class="pricing-price">Free</div>
            <div class="pricing-features">
              <ul>
                <li><strong>Automated</strong> replies</li>
                <li>Improve your customer service</li>
                <li><strong>100</strong> drafts per day</li>
                <li><strong>30</strong> keyword sets</li>
                <li>Basic keyword suggestions</li>
                <!--<li>Email Support</li>-->
              </ul>
            </div>
            <div class="pricing-action"><% s1 = Subscription.find_by(name: "Entrepreneur").id %>
              <% if current_user %>
                <% if current_user.subscription_id == s1 || current_user.subscription_id.nil? #current_user.subscription_id != (s=Subscription.find_by(name: "Entrepreneur").id) %>
                  <a href="#" class="btn btn-block btn-lg ls3" onclick="return false;">Current Plan</a>
                <% else %>
<!--                  <a href="/plans/<%#= s1 %>" class="btn btn-danger btn-block btn-lg" data-method="patch">Choose Plan</a>-->
                  <% if current_user.no_paymentmethods? %>
                    <%= link_to 'Choose Plan', "/paymentmethods/new?upgrade=#{s1}", class: 'btn btn-danger btn-block btn-lg' %>
                  <% else %>
                    <%= link_to 'Choose Plan', plan_path(s1), class: 'btn btn-danger btn-block btn-lg confirm-plan', data:{toggle: 'modal', plan: 'Entrepreneur'} %>
                  <% end %>
                <% end %>
              <% else %>
                <a href="/signup" class="btn btn-danger btn-block btn-lg">Sign Up</a>
              <% end %>
            </div>
          </div>

        </div>

        <div class="col-lg-4">

          <div class="pricing-box best-price">
            <div class="pricing-title">
              <h3>Small Business</h3>
              <span>Most Popular</span>
            </div>
            <div class="pricing-price">
              <span class="price-unit">USD</span>12<span class="price-tenure">/mo</span>
            </div>
            <div class="pricing-features">
              <ul>
                <li><strong>Unlimited</strong> keyword sets</li>
                <li>Improve your customer service</li>
                <li><strong>1,000</strong> drafts per day</li>
                <li><strong>Faster</strong> draft creation</li>
                <li>AI enhanced keyword suggestions</li>
                <!--<li><strong>2 Years</strong> License</li>-->
                <!--<li>Phone &amp; Email Support</li>-->
              </ul>
            </div>
            <div class="pricing-action"><% s2 = Subscription.find_by(name: "Small Business").id %>
              <% if current_user %>
                <% if current_user.subscription_id == s2 #current_user.subscription_id != (s=Subscription.find_by(name: "Small Business").id) %>
                  <a href="#" class="btn btn-block btn-lg ls3" onclick="return false;">Current Plan</a>
                <% else %>
<!--                  <a href="/plans/<%#= s2 %>" class="btn btn-danger btn-block btn-lg bgcolor border-color" data-method="patch">Choose Plan</a>-->
                  <% if current_user.no_paymentmethods? %>
                    <%= link_to 'Choose Plan', "/paymentmethods/new?upgrade=#{s2}", class: 'btn btn-danger btn-block btn-lg bgcolor border-color', remote: true %>
                  <% else %>
                    <%= link_to 'Choose Plan', plan_path(s2), class: 'btn btn-danger btn-block btn-lg bgcolor border-color confirm-plan', data:{toggle: 'modal', plan: 'Small Business'} %>
                  <% end %>
                <% end %>
              <% else %>
                <a href="/signup" class="btn btn-danger btn-block btn-lg bgcolor border-color">Sign Up</a>
              <% end %>
            </div>
          </div>

        </div>

        <div class="col-lg-4">

          <div class="pricing-box">
            <div class="pricing-title">
              <h3>Big Business</h3>
            </div>
            <div class="pricing-price">
              <span class="price-unit">USD</span>16<span class="price-tenure">/mo</span>
            </div>
            <div class="pricing-features">
              <ul>
                <li><strong>Unlimited</strong> keyword sets</li>
                <li>Improve your customer service</li>
                <li><strong>Unlimited</strong> replies daily</li>
                <li><strong>Fastest</strong> draft creation</li>
                <li>AI enhanced keyword suggestions</li>
                <li>Automated reply content suggestion</li>
              </ul>
            </div>
            <div class="pricing-action"><% s3 = Subscription.find_by(name: "Big Business").id %>
              <% if current_user %>
                <% if current_user.subscription_id == s3 #current_user.subscription_id != (s=Subscription.find_by(name: "Big Business").id) %>
                  <a href="#" class="btn btn-block btn-lg ls3" onclick="return false;">Current Plan</a>
                <% else %>
<!--                  <a href="/plans/<%#= s3 %>" class="btn btn-danger btn-block btn-lg" data-method="patch">Choose Plan</a>-->
                  <% if current_user.no_paymentmethods? %>
                    <%= link_to 'Choose Plan', "/paymentmethods/new?upgrade=#{s3}", class: 'btn btn-danger btn-block btn-lg', remote: true %>
                  <% else %>
                    <%= link_to 'Choose Plan', plan_path(s3), class: 'btn btn-danger btn-block btn-lg confirm-plan', data:{toggle: 'modal', plan: 'Big Business'} %>
                  <% end %>
            <% end %>
              <% else %>
                <a href="/signup" class="btn btn-danger btn-block btn-lg">Sign Up</a>
              <% end %>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>

</section><!-- #content end -->

<% content_for :modals_includes do %>
  <div class="modal fade" id="ConfirmPlanModal" tabindex="-1" role="dialog" aria-labelledby="ConfirmPlanModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center" style="width: 100%">Confirm to Upgrade Plan</h4>
        </div>
        <div class="modal-body">
          <h5 class="text-center">You are selecting <span class="plan-name"></span> plan</h5>
          <div>
            <%= link_to 'Confirm', '#', method: :put, class: 'button button-large tright', id: 'confirm_plan', remote: true %>
            <button type="button" class="button button-large button-white button-light" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% content_for :javascript_footer_includes do %>
  <script type="text/javascript">
      $(function () {
          $('.confirm-plan').on('click', function (e) {
              e.preventDefault();
              var $name = $(this).attr('data-plan');
              var $target = $(this).attr('href');
              $('#ConfirmPlanModal').find('span.plan-name').text($name);
              $('#ConfirmPlanModal').find('#confirm_plan').attr('href', $target);
              $('#ConfirmPlanModal').modal('show');

              return false;
          });

          $('#ConfirmPlanModal').on('hidden.bs.modal', function () {
              $(this).find('span.plan-name').text('');
              $(this).find('#confirm_plan').attr('href', '#');
          });
      });
  </script>
<% end %>