<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">
      <div id="processTabs">
        <ul class="process-steps bottommargin clearfix">
          <li>
            <a href="javascript: void(0)" class="i-circled i-alt divcenter">1</a>
            <h5>Connect your account</h5>
          </li>
          <li class="active">
            <a href="javascript: void(0)" class="i-circled i-alt divcenter bgcolor">2</a>
            <h5>Preview Messages</h5>
          </li>
          <li>
            <a href="javascript: void(0)" class="i-bordered i-circled divcenter">3</a>
            <h5>Done</h5>
          </li>
        </ul>
      </div>
      <div class="activation-process">
        <div id="process2">
          <div class="list-group">
            <%= @errors %>
            <% @messages.each do |message| %><% b=improved_message_body(message) %>
                <a class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-between">
                    <h4 class="mb-2"><%= message[:from] %></h4>
                    <small><%= message[:date] %></small>
                  </div>
                  <h5 class="mb-1"><%= message[:subject] %></h5>
                  <% unless b.nil? %><% sug = Reply.suggest_keywords(b) %><% @has_keywords = true unless sug.empty? %>
                    <p class="mb-1"><%= b[0..20].join(' ') %></p>
                    <p class="mb-1 pot_keywords">Potential keywords: <% for reply in sug %><span onclick='select_keyword("<%= reply %>");' class='suggested_<%= reply %>'><%= reply %></span><% end %></p>
                  <% end %>
                </a>
            <% end %>
            <% unless (params[:more] || @messages.empty?) %>
              <div class="style-msg" style="background-colorx: #333;">
                <div class="sb-msg">
                  <a href="?more=1">Show More Emails</a>
                </div>
              </div>
            <% end %>
            <% if @has_keywords %>
              <div class="allmargin-sm divcenter ls3" style="background-colorx: #333;">
                <div class="sb-msg">
                  Click a few keywords and these will be used to generate your first auto replies.
                </div>
              </div>
            <% end %>
          </div>
          <div class="mt-5 d-flex w-100 justify-content-between">
            <%= link_to 'Skip. Activate Manually.', viewer_skip_url, method: :patch, class: 'skip', remote: true %>
            <!--a href="/viewer/step3" type="button" class="button button-large button-rounded button-connect text-white">Looks Good!</a-->

            <form action="/viewer/step3" method="post">
              <input type="hidden" name="keywords" class="selected_keywords" value="">
              <input type="submit" value="Looks Good!" class="button button-large button-rounded button-connect text-white">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  var selected_keywords = [];
  function select_keyword(name) {
    if (selected_keywords.indexOf(name) >= 0) {
      i = selected_keywords.indexOf(name);
      $('.pot_keywords .suggested_'+name).removeClass('selected');
      selected_keywords.splice(i,i+1);
      //selected_keywords.slice(selected_keywords.indexOf(name),-1);
    } else {
      $('.pot_keywords .suggested_'+name).addClass('selected');
      selected_keywords.push(name);
    }
    $('.selected_keywords').val(selected_keywords);
  }
</script>