<% unless @emailaccount.authenticated %>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 authentication">
      <div class="style-msg style-msg-light" style="background-color: #333;">
        <div class="sb-msg">
          <%= link_to 'Connect your email account', '#', class: 'btn-connect button button-3d button-mini button-rounded button-white button-light', remote: true %>
          You need to connect your email account in order for us to be able to create an automated replies for you.
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
<% end %>

<% unless @emailaccount.authenticated %>
  <% content_for :modals_includes do %>
    <div class="modal fade" id="ConnectEmailAccount" tabindex="-1" role="dialog" aria-labelledby="ConnectEmailAccount" aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title text-center" style="width: 100%">Connect Your Email Account</h4>
          </div>
          <div class="modal-body">
            <%= form_for @emailaccount, url: connect_emailaccount_path, remote:true, html:{class: 'nobottommargin'}, local: false do |f| %>
              <div class="form-group">
                <label for="emailProvider">Email Provider</label>
                <select class="form-control" id="emailProvider" name="emailaccount[email_provider]">
                  <option value="google" <%= html_attr_selected @emailaccount.email_provider, 'google' %>>Google</option>
                  <option value="other" <%= html_attr_selected @emailaccount.email_provider, 'other' %>>Others</option>
                </select>
              </div>
              <% display_smtp = html_attr_selected @emailaccount.email_provider, 'other' === "selected=selected" ? '' : 'style="display:none"' %>
              <div id="smtpSettings" <%= display_smtp %>>
                <div class="form-group">
                  <label>Email</label>
                  <%= f.text_field :address, class: 'form-control', readonly: 'readonly' %>
                </div>
                <div class="form-group">
                  <label>Server</label>
                  <%= f.text_field :imap_host, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <%= f.text_field :password, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <label>Port</label>
                  <% port = @emailaccount.imap_port ?  @emailaccount.imap_port : 993 %>
                  <%= f.text_field :imap_port, class: 'form-control', value: port %>`
                </div>
                <div class="form-group">
                  <div class="form-group form-check">
                    <% sslcheck = @emailaccount.imap_ssl ? @emailaccount.imap_ssl : false %>
                    <%= f.check_box :imap_ssl, class: 'form-check-input', id: 'ssl_required', checked: sslcheck %>
                    <label for="ssl_required">Use SSL</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="button button-large button-rounded float-left">Connect</button>
                <button type="button" data-dismiss="modal" class="button button-white button-light button-large button-rounded float-right">Cancel</button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% content_for :javascript_footer_includes do %>
    <script type="text/javascript">
        $(function () {
            $('.btn-connect').on('click', function (e) {
                e.preventDefault();
                $('#ConnectEmailAccount').modal('show');
                return false;
            });

            $('#emailProvider').on('change', function () {
                var value = $(this).val();
                if (value == 'other'){
                    $('#smtpSettings').show();
                }else{
                    $('#smtpSettings').hide();
                }
            });

            $('#ConnectEmailAccount').on('hidden.bs.modal', function () {});

            $('#ConnectEmailAccount').find('button[type=submit]').on('click', function(e){
                e.preventDefault();
                var $this = this;
                var form = $($this).closest('form');

                var send = function(form){
                    var elem = $(form)[0];
                    Rails.fire(elem, 'submit');
                };

                if(form.find('#emailProvider').val() == "google"){
                    send(form);
                }else{
                    var authenticating = function(elem){
                        $(elem).html('<i class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></i> Authenticating...')
                            .addClass('disabled')
                            .attr({'disabled': 'disabled', 'value': 'Authenticating...'});
                    };

                    var doneErrorAuth = function(elem){
                        console.log('error');
                        $('#smtpSettings').find('.errorMsg').remove();
                        $('#smtpSettings').append('<div class="errorMsg">' +
                            '<div class="alert alert-danger" role="alert">Opps. Authentication Error. Please try again.</div>' +
                            '</div>');
                        $(elem).text('Connect')
                            .removeClass('disabled')
                            .removeAttr('disabled');
                    };

                    authenticating($this);

                    $.ajax({
                        url: "<%= authenticate_imap_emailaccount_path(@emailaccount, :format => :json) %>",
                        type: "GET",
                        data: $(form).serialize(),
                        contentType: "application/json",
                        success: function(data){
                            console.log(data);
                            if(data){
                                if(data.success){
                                    $($this).text('Authenticated');
                                    send(form);
                                }else{
                                    doneErrorAuth($this);
                                }
                            }
                        }
                    });
                }




            });
        });
    </script>
  <% end %>
<% end %>