<tr>
  <td><%= emailaccount.user_id %></td>
  <td><%= emailaccount.address %></td>
  <td><%= emailaccount.password %></td>
  <td><%= emailaccount.encrypted_password %></td>
  <td><%= emailaccount.encryption_key %></td>
  <td><%= link_to 'Show', emailaccount %></td>
  <td><%= link_to 'Edit', edit_emailaccount_path(emailaccount) %></td>
  <td><%= link_to 'Destroy', emailaccount, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>