<%= form_with model: (emailaccount || emailaccount = Emailaccount.new), html:{class: 'nobottommargin'} do |form| %>
  <% if emailaccount.errors.any? %>
    <div class="style-msg2 errormsg">
      <div class="msgtitle">Opps! There's an error upon submitting.</div>
      <div class="sb-msg">
        <ul>
          <% for message in emailaccount.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <%# if emailaccount.errors.any? %>
<!--    <div id="error_explanation">-->
<!--      <h2><%#= pluralize(emailaccount.errors.count, "error") %> prohibited this emailaccount from being saved:</h2>-->

<!--      <ul>-->
      <%# emailaccount.errors.full_messages.each do |message| %>
<!--        <li><%#= message %></li>-->
      <%# end %>
<!--      </ul>-->
<!--    </div>-->
  <%# end %>

  <div class="col_full">
    <%= form.label :address %>
    <%= form.text_field :address, class: 'form-control required', id: 'address', required: 'required' %>
  </div>

  <div class="col_full">
    <%= form.label :password %>
    <%= form.text_field :password, class: 'form-control required', id: 'password', required: 'required' %>
  </div>

  <div class="col_full">
    <%= form.label :encrypted_password %>
    <%= form.text_field :encrypted_password, class: 'form-control required', id: 'encrypted_password', required: 'required' %>
  </div>

  <div class="col_full">
    <%= form.label :encryption_key %>
    <%= form.text_field :encryption_key, class: 'form-control required', id: 'encryption_key', required: 'required' %>
  </div>

  <div class="actions col_full nobottommargin">
    <%= form.submit emailaccount.new_record? ? 'Add New' : 'Save', :class => 'button button-3d button-black nomargin' %>
  </div>
<% end %>
