- b = improved_message_body(message, false)
- date = message[:date].downcase.gsub(' ','').gsub(',','_').gsub(':','_')
- id = "#{date}_#{key}"
.message{id: "message_#{id}", "data-id" => id }
  %a.list-group-item.list-group-item-action.flex-column.align-items-start{onclick: "$(this).parent().find('.email_content').toggle();", style: "#{message[:unread] ? '' : 'background-color:#e0e0e0;'}"}
    .d-flex.w-100.justify-content-between
      %h5.mb-2{style: 'color: #8c8b8b'}= message[:from]
      %small{style: 'color: #8c8b8b'}= message[:date]
    %h4.mb-1{style: 'color: #8c8b8b'}= message[:subject]
  .email_content.list-group-item.mb-3{style: 'display: none;'}
    - unless b.nil?
      - sug = Reply.suggest_keywords(b, user_id: current_user.id)
      - sug_tos = sug.join(',')
      - @has_keywords = true unless sug.empty?
      %input{type: "hidden", value: sug_tos, class: "suggested_keywords", id: "sugkey_#{id}"}
      %div.mb-2.pb-3
        %p.mb-0.pb-0.email_body.js-read-more{"data-rm-words" => "125"}
          - body = b.join(' ')
          - for reply in sug
            - exc = ["span", "class", "onclick", "click", "selected", "reply", "keyword", "message", "remote", "data", "disable", "with", "potential", "suggested", "true"]
            - key = exc.include?(reply) ? "#{reply} " : reply
            - selected = Reply.selected(@emailaccount, reply) ? 'selected' : ''
            - body.gsub!(key, "<a class='potential_keyword suggested_#{reply} #{selected}' href='/emailaccounts/#{@emailaccount.id}/reply.js?keyword=#{reply}&message=#{id}' data-remote='true' data-disable-with='#{reply}'>#{reply}</a> ")
          =  body.html_safe
          - b[0..20].join(' ')
      .reply_creation_container
        .reply_creation_area{"data-id" => "#{id}"}
          %p.mb-1.pot_keywords
            %strong Potential keywords:
            - for reply in sug
              - selected2 = Reply.selected(@emailaccount, reply) ? 'selected hidden' : ''
              %span{:class => "badge badge badge-info potential_keyword suggested_#{reply} #{selected2}", "data-url" => "/emailaccounts/#{@emailaccount.id}/reply.js?keyword=#{reply}&message=#{id}"}
                %a{:href => "/emailaccounts/#{@emailaccount.id}/reply.js?keyword=#{reply}&message=#{id}", "data-remote" => true,  "data-disable-with" => "#{reply}"}
                  = reply
                = link_to '', ignore_ignoredword_url(ignoredword: {word: "#{reply}"}), class: "ignore", title: "ignore this word", data: {role: "remove", confirm: "Are you sure to ignore the keyword \"#{reply}\"?"}, method: :post, remote: true