//$('.keywords_modal').remove();

<% html = @replies.empty? ? (render partial: 'replies/new_popup', locals: {reply: Reply.new(emailaccount_id: @emailaccount.id), id: @message_id}) : (render partial: 'replies/new_popup', locals: {reply: @replies.first, id: @message_id}) %>
$('body .modals').append('<%= j html %>');

var modal = $('#keywordsModal_<%= @message_id %>');

modal.find('input[data-role="tagsinput"]').tagsinput();

<% if @replies.empty? %>
select_keyword(modal, "<%= @keyword %>");
<% end %>

$('#keywordsModal_<%= @message_id %>').modal('show');

var sugkey = $('#sugkey_<%= @message_id %>').val();

$.get('/emailaccounts/<%= @emailaccount.id %>/get_keywords', {suggested: sugkey}, function(data){
    if(data.keywords){
        var str = "";
        $.each(data.keywords, function( i, word){
            var clas_selected = word === "<%= @keyword %>" ? 'selected' : '';
            str += "<span class='potential_keyword suggested_"+word+" "+clas_selected+"' onclick='select_keyword(this, \""+word+"\")'>"+word+"</span>";
        });
        modal.find('.pot_keywords').append(str);
    }
})

modal.find('.cancel_new').on('click', function (e) {
    e.preventDefault();
    if (typeof selected_keywords !== 'undefined') {
        selected_keywords = [];
    }
    if (typeof removed_keywords !== 'undefined') {
        removed_keywords = [];
    }
    modal.modal('hide');
});

modal.on('hidden.bs.modal', function (e) {
    if (typeof selected_keywords !== 'undefined') {
        if(selected_keywords.length > 0){
            for (let i in selected_keywords) {
                $(document).find('.potential_keyword.suggested_'+selected_keywords[i]).addClass('selected');
            }
        }
        selected_keywords = [];
    }
    if (typeof removed_keywords !== 'undefined') {
        if(removed_keywords.length > 0){
            for (let i in removed_keywords) {
               $(document).find('.potential_keyword.suggested_'+removed_keywords[i]).removeClass('selected');
            }
        }
        removed_keywords = [];
    }
    $(this).remove();
});

$('input[name="reply[keywords]"]').on('itemRemoved', function(event) {
     var name = event.item;
    modal.find('.suggested_'+name).removeClass('selected');
     var i = selected_keywords.indexOf(name);
     removed_keywords.push(name);
     selected_keywords.splice(i,1);
 });

