<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @emailaccount.user_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @emailaccount.address %>
</p>

<p>
  <strong>Password:</strong>
  <%= @emailaccount.password %>
</p>

<p>
  <strong>Encrypted password:</strong>
  <%= @emailaccount.encrypted_password %>
</p>

<p>
  <strong>Encryption key:</strong>
  <%= @emailaccount.encryption_key %>
</p>

<%= link_to 'Edit', edit_emailaccount_path(@emailaccount) %> |
<%= link_to 'Back', emailaccounts_path %>
