<section id="page-title" class="replies nobg">

  <div class="container clearfix">
    <h1><%= @emailaccount.address %> <%= link_to raw('Edit<i class="icon icon-pencil"></i>'), edit_emailaccount_path(@emailaccount), class: 'edit' %></h1>
    <div>
      <%= link_to "Check Again Now", check_again_emailaccount_path(@emailaccount), method: :put, remote: true, class: 'button button-mini button-rounded button-amber noleftmargin' %>
      <span class="last-check">
        <%= @emailaccount.last_checked_at %>
      </span>
    </div>
    <div class="breadcrumb">
      <%= link_to 'All Accounts', emailaccounts_path %>
    </div>
  </div>

</section>

<section id="content" class="replies">

  <div class="content-wrap nopadding">
    <div class="section nomargin notoppadding">
      <div class="container clearfix">
        <%= render file: "replies/index" %>
      </div>
    </div>
  </div>

</section>
