<style>
  .row { justify-content: center; }
</style>
<section id="page-title" class="replies nobg">

  <div class="container clearfix">
    <h1><%= @emailaccount.address %> <%= link_to raw('Edit<i class="icon icon-pencil"></i>'), edit_emailaccount_path(@emailaccount), class: 'edit' %></h1>
    <div>
      <%= link_to "Check Again Now", check_again_emailaccount_path(@emailaccount), method: :put, remote: true, class: 'check_btn btn button button-mini button-rounded button-amber noleftmargin' %>
      <span class="last-check">
        <%= last_checked_at(@emailaccount) %>
      </span>
    </div>
    <div class="breadcrumb">
      <%= link_to 'All Accounts', emailaccounts_path %>
    </div>
    <div class="debug_option debug_div"><input type="checkbox" class="debug_checkbox"> Show more information.</div>
    <div class="debug_message debug_div"></div>
  </div>

</section>

<section id="content" class="replies">
  <div class="content-wrap nopadding">
    <div class="section nomargin notoppadding">
      <div class="">
        <div class="row mt-1">
          <div class="col-md-10">
            <% unless @emailaccount.authenticated %>
              <%= render 'emailaccounts/authentication' %>
            <% end %>
            <% if @emailaccount.authenticated && (!@emailaccount.last_checked.nil?) && (@emailaccount.drafts_created_lifetime.nil?) %>
              <div class="style-msg style-msg-light" style="background-color: #333;">
                <div class="sb-msg">
                  We checked and found no emails to auto-reply to yet.<br>
                  <b>Emails must be <u>unread</u> and sent in the last week for us to auto-reply.</b>
                </div>
              </div>
            <% end %>
            <% if @emailaccount.authenticated %>
              <% if @emailaccount.replies.empty? && @emailaccount.template_blank? %>
                <div class="style-msg style-msg-light" style="background-color: #333;">
                  <div class="sb-msg">
                    <%= link_to 'Setup a default reply', edit_emailaccount_path(@emailaccount), class: 'btn-connect button button-3d button-mini button-rounded button-white button-light' %>
                    With no default reply setup, we have nothing to auto-reply to your emails with.
                  </div>
                </div>
              <% end %>
            <% end %>
            <% if @emailaccount.authenticated && !@emailaccount.setupcomplete && !@emailaccount.skip_activation %>
              <%= render partial: 'emailaccounts/viewerlink' %>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class='inbox_space col-md-5 mt-4'>
            <div class="container clearfix">
              <%= link_to "Unread", "/inbox/#{@emailaccount.id}.js?more=1", class: "inbox_button button button-rounded button-small #{'button-light' if params[:all]}", remote: true %>
              <%= link_to "All", "/inbox/#{@emailaccount.id}.js?all=1&more=1", class: "inbox_button button button-rounded button-small #{'button-light' if params[:all].blank?}", remote: true %>
              <%= render file: "layouts/spinner" %>
              <div class="inbox-content">
                <div class="list-group"></div>
              </div>
            </div>
          </div>
          <div class="replies_box col-md-5 mt-4">
            <div class="">
              <%= render file: "replies/index" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%# if (@emailaccount.authenticated && (! @emailaccount.setupcomplete)) %>
    <%#= render 'viewer/wizard' %><%# The wizard isn't quite done yet. %>
  <%# end %>
</section>


<% content_for :javascript_includes do %>
  <script src="/js/read-more.js"></script>
<% end %>

<% content_for :javascript_footer_includes do %>
  <script>
      $(document).ready(function() {
          $("a.inbox_button").on('click', function (e) {
              if($(this).hasClass('button-light')){
                  $('.loading-spinner').show();
                  $('.inbox-content > .list-group').remove();
                  $(this).removeClass('button-light').siblings('a').addClass('button-light');
              }else{
                  e.preventDefault();
                  return false;
              }
          });
          $.get('/inbox/<%= @emailaccount.id %>.js');
      });
  </script>
<% end %>
