<section id="page-title" class="replies nobg">

  <div class="container clearfix">
    <h1><%= @emailaccount.address %> <%= link_to raw('Edit<i class="icon icon-pencil"></i>'), edit_emailaccount_path(@emailaccount), class: 'edit' %></h1>
    <div>
      <%= link_to "Check Again Now", check_again_emailaccount_path(@emailaccount), method: :put, remote: true, class: 'check_btn btn button button-mini button-rounded button-amber noleftmargin' %>
      <span class="last-check">
        <%= last_checked_at(@emailaccount) %>
      </span>
    </div>
    <div class="breadcrumb">
      <%= link_to 'All Accounts', emailaccounts_path %>
    </div>
    <div class="debug_option debug_div"><input type="checkbox" class="debug_checkbox"> Show more information.</div>
    <div class="debug_message debug_div"></div>
  </div>

</section>

<section id="content" class="replies">
  <%# if @emailaccount.password.blank? %>
<!--  <div class="style-msg" style="background-color: #EEE;">-->
<!--    <div class="sb-msg" style="text-align: center;"><i class="icon-question-sign"></i>-->
<!--      You need to add your password for OwlReply to check your incoming mail.<br>-->
<!--      OwlReply will mark all incoming mail as "Read".-->
<!--    </div>-->
<!--  </div>-->
  <%# end %>
  <div class="content-wrap nopadding">
    <div class="section nomargin notoppadding">
      <div class="container clearfix">
        <% unless @emailaccount.authenticated %>
         <%= render 'emailaccounts/authentication' %>
        <% end %>
        <% if @emailaccount.authenticated && (!@emailaccount.last_checked.nil?) && (@emailaccount.drafts_created_lifetime.nil?) %>
          <div class="style-msg style-msg-light" style="background-color: #333;">
            <div class="sb-msg">
              We checked and found no emails to auto-reply to yet.<br>
              <b>Emails must be <u>unread</u> and sent in the last week for us to auto-reply.</b>
            </div>
          </div>
        <% end %>
        <% if @emailaccount.authenticated %>
          <% if @emailaccount.replies.empty? && @emailaccount.template_blank? %>
            <div class="style-msg style-msg-light" style="background-color: #333;">
              <div class="sb-msg">
                <%= link_to 'Setup a default reply', edit_emailaccount_path(@emailaccount), class: 'btn-connect button button-3d button-mini button-rounded button-white button-light' %>
                With no default reply setup, we have nothing to auto-reply to your emails with.
              </div>
            </div>
          <% end %>
        <% end %>
        <% if (@emailaccount.authenticated && (! @emailaccount.setupcomplete)) %>
          <%= render partial: 'emailaccounts/viewerlink' %>
        <% end %>
        <%= render file: "replies/index" %>
      </div>
    </div>
  </div>

  <% if (@emailaccount.authenticated && (! @emailaccount.setupcomplete)) %>
    <%#= render 'viewer/wizard' %><%# The wizard isn't quite done yet. %>
  <% end %>
</section>
