<h1>Suggested Reply</h1>
<b><%= @user.name %> --</b>
<p>
  OwlReply is meant for automating your emails in a fast and simple way! Try automating these keywords next:
</p>
<p>
  <% for word in @words %>
    <a href="<%= Rails.application.config.base_url %>/emailaccounts/<%= @emailaccount.id %>/replies/new?keyword=<%= word %>"><%= word %></a>
  <% end %>
  <%# @words %>
</p>
<p>
  You get a lot of emails with thee "<%= @words %>" in it.
</p>
<p>
  <a href="<%= Rails.application.config.base_url %>">Go to OwlReply</a> to add replies.
</p>
<%if false %><p>
  <a href="<%= Rails.application.config.base_url %>/emailaccounts/<%= @emailaccount.id %>/replies/new?keyword=<%= @word %>">Click here to create an automated reply for that word.</a>
</p><% end %>
<p>
  Hope this helps!
</p>
<p></p>